body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: rgb(78, 216, 235);
}

/* ------------------------------------------------- */
/* ----------- Width indicator --------------------- */
/* ------------------------------------------------- */

.tag {
  width: 10%;
}

.name {
  width: 20%;
}

.description {
  width: 50%;
}

.link {
  width: 20%;
}

/* ----------------------------------------------- */

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: larger;
  color: green;
}

/* ---------------   A tag options ---------------- */

a {
  text-decoration: none;
  text-align: center;
  padding-left: 10px;
  color: black;
}

a:hover {
  background-color: #cdfeaa;
  padding-left: 10px;
}

/* -------------------------------------------------- */

.tableHeader {
  border: 2px solid red;
  width: 85%;
  margin: 0 auto;
}

thead {
  background-color: plum;
}

.tagChange {
  font-family: monospace;
  background-color: beige;
  text-align: center;
}

.tdPadding {
  padding-left: 10px;
}

.container {
  width: 100%;
  /* text-align: center; */
}
