body {
  font-family: Arial, sans-serif;
  background-color: lavenderblush;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: larger;
  color: green;
}

.tableHeader {
  border: 2px solid red;
  width: 85%;
  margin: 0 auto;
}

thead {
  background-color: plum;
}

.tagChange {
  font-family: monospace;
  background-color: beige;
  text-align: center;
}

.tdPadding {
  padding-left: 10px;
}
